/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* primary */
  --ifm-color-primary: #00a2d5;
  --ifm-color-primary-dark: #0092c0;
  --ifm-color-primary-darker: #0082aa;
  --ifm-color-primary-darkest: #007195;
  --ifm-color-primary-light: #00b2ea;
  --ifm-color-primary-lighter: #01c2ff;
  --ifm-color-primary-lightest: #16c7ff;
  /* secondary?? */
  /* success */
  --ifm-color-success: #7acca6;
  --ifm-color-success-dark: #62c396;
  --ifm-color-success-darker: #4bba86;
  --ifm-color-success-darkest: #3fa576;
  --ifm-color-success-light: #92d5b6;
  --ifm-color-success-lighter: #a9dec6;
  --ifm-color-success-lightest: #c1e7d5;
  /* info */
  --ifm-color-info: #6db9d6;
  --ifm-color-info-dark: #54adcf;
  --ifm-color-info-darker: #3ba1c8;
  --ifm-color-info-darkest: #328db1;
  --ifm-color-info-light: #86c5dd;
  --ifm-color-info-lighter: #9fd1e4;
  --ifm-color-info-lightest: #b9ddeb;
  /* warning */
  --ifm-color-warning: #f1d474;
  --ifm-color-warning-dark: #eeca54;
  --ifm-color-warning-darker: #eac033;
  --ifm-color-warning-darkest: #e3b417;
  --ifm-color-warning-light: #f4de94;
  --ifm-color-warning-lighter: #f8e8b5;
  --ifm-color-warning-lightest: #fbf2d5;
  /* danger */
  --ifm-color-danger: #ed9599;
  --ifm-color-danger-dark: #e77479;
  --ifm-color-danger-darker: #e25359;
  --ifm-color-danger-darkest: #dc323a;
  --ifm-color-danger-light: #f3b6b9;
  --ifm-color-danger-lighter: #f8d7d9;
  --ifm-color-danger-lightest: #fef8f8;
  /* grayscale */
  --ifm-color-black: #000;
  --ifm-color-gray-1000: #000;
  --ifm-color-gray-900: #1b1b1b;
  --ifm-color-gray-800: #303030;
  --ifm-color-gray-700: #474747;
  --ifm-color-gray-600: #5e5e5e;
  --ifm-color-gray-500: #777;
  --ifm-color-gray-400: #919191;
  --ifm-color-gray-300: #ababab;
  --ifm-color-gray-200: #c6c6c6;
  --ifm-color-gray-100: #e2e2e2;
  --ifm-color-gray-0: #fff;
  --ifm-color-white: #fff;
  /* navbar */
  --ifm-navbar-background-color: #300519;
  --ifm-navbar-link-color: #ffffff;
  /* alerts and admonitions */
  --ifm-alert-color: var(--ifm-color-gray-900);
  /* fonts */
  --ifm-table-head-font-weight: 600;
  /* table */
  --ifm-table-stripe-background: inherit;
  --ifm-table-border-color: rgba(128, 128, 128, 0.35);
  --ifm-table-head-background: rgba(128, 128, 128, 0.1);
  /* blockquote */
  --ifm-blockquote-color: inherit;
  /* code */
  --ifm-code-background: rgba(128, 128, 128, 0.1);
  --ifm-pre-background: var(--ifm-code-background);
  /* home */
  --ifm-hero-background-color: var(--ifm-navbar-background-color);
  --ifm-hero-text-color: var(--ifm-color-white);
  /* table of contents */
  --ifm-toc-padding-left: 0.8rem;
}

html[data-theme='light'] {
  /* sidebar */
  --ifm-toc-border-color: #f2f2f2;
  /* footer */
  --ifm-footer-background-color: #f6f3ef;
}

html[data-theme='dark'] {
  /* sidebar */
  --ifm-toc-border-color: #1b1b1b;
  /* footer */
  --ifm-footer-background-color: #302e2c;
  /* alerts and admonitions */
  --ifm-color-success: var(--ifm-color-success-dark);
  --ifm-color-info: var(--ifm-color-info-dark);
  --ifm-color-warning: var(--ifm-color-warning-dark);
  --ifm-color-danger: var(--ifm-color-danger-dark);
}

strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3,
.lead {
  font-size: 1.25rem !important;
}

table th,
table td {
  border-left-width: 0px;
  border-right-width: 0px;
  text-align: start;
}

table th:first-child,
table td:first-child {
  border-left-width: 1px;
}

table th:last-child,
table td:last-child {
  border-right-width: 1px;
}

blockquote {
  border-left-width: 1px;
  border-color: var(--ifm-color-emphasis-200);
}

/*-----------------------------------------------------------------------------
  Navbar
-----------------------------------------------------------------------------*/
.navbar {
  color: var(--ifm-color-white);
  --ifm-menu-color: var(--ifm-color-white);
}

.navbar__brand:hover {
  color: var(--ifm-color-primary);
}

.navbar__link--active {
  color: inherit;
}

.react-toggle-track {
  background-color: #80808080 !important;
}

.react-toggle:hover .react-toggle-track {
  background-color: #00a2d580 !important;
}

.react-toggle-thumb {
  background-color: #ffffffd1 !important;
}

html[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

html .navbar .DocSearch {
  --docsearch-text-color: var(--ifm-color-white);
  --docsearch-searchbox-focus-background: rgba(0, 162, 213, 0.5);
  --docsearch-muted-color: rgba(255, 255, 255, 0.5);
  --docsearch-key-gradient: linear-gradient(
    -225deg,
    rgba(255, 255, 255, 0.25),
    rgba(0, 0, 0, 0.25)
  );
  --docsearch-key-shadow: rgba(0, 0, 0, 0.4) 0px -2px 0px 0px inset,
    rgba(255, 255, 255, 0.25) 0px 0px 1px 1px inset,
    rgba(0, 0, 0, 0.2) 0px 1px 2px 1px;
  --docsearch-searchbox-background: rgba(255, 255, 255, 0.15);
}

.navbar .DocSearch-Button {
  padding: var(--ifm-navbar-item-padding-vertical)
    var(--ifm-navbar-item-padding-horizontal);
  margin: 0;
}

.navbar .DocSearch-Button-Placeholder,
.navbar .DocSearch-Button-Keys {
  display: none;
}

.navbar .DocSearch-Button,
.navbar .DocSearch-Button:active,
.navbar .DocSearch-Button:focus,
.navbar .DocSearch-Button:hover {
  background: inherit;
  box-shadow: inherit;
  color: var(--docsearch-text-color);
  outline: none;
}

.navbar .DocSearch-Button:active path,
.navbar .DocSearch-Button:focus path,
.navbar .DocSearch-Button:hover path {
  color: var(--ifm-navbar-link-hover-color);
}

.navbar__items--right .react-toggle {
  order: -1;
  margin: var(--ifm-navbar-item-padding-vertical)
    var(--ifm-navbar-item-padding-horizontal);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.header-github-link:hover {
  filter: saturate(900000%) hue-rotate(41deg) brightness(67%) contrast(200%);
}

.header-github-link:before {
  content: '';
  width: 20px;
  height: 20px;
  display: flex;
  filter: saturate(10%) brightness(200%);
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='dodgerblue' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='light'] div[class^='docSidebarContainer'] {
  background: #f2f2f2;
}

html[data-theme='dark'] div[class^='docSidebarContainer'] {
  background: var(--ifm-color-gray-800);
}

/*-----------------------------------------------------------------------------
  Sidebar
-----------------------------------------------------------------------------*/

.navbar-sidebar {
  box-shadow: none; /* fix for mobile devices */
}

.menu__link--active {
  color: inherit;
  font-weight: 600;
}

.menu__list-item {
  padding: 0.6em 0;
}

html[data-theme='light'] .menu > ul > .menu__list-item {
  border-top: 1px solid #d5d5d5;
}

html[data-theme='dark'] .menu > ul > .menu__list-item {
  border-top: 1px solid #444444;
}

html[data-theme='light'] .navbar-sidebar .menu > ul > .menu__list-item,
html[data-theme='dark'] .navbar-sidebar .menu > ul > .menu__list-item {
  border-top: 1px solid #4f2a3b;
}

html[data-theme='light'] .menu > ul > .menu__list-item:first-child,
html[data-theme='dark'] .menu > ul > .menu__list-item:first-child {
  border-top-width: 0px;
  padding-top: 0em;
}

.menu__list .menu__list {
  /* margin-left: 0; */
  font-size: 0.875rem;
}

.menu__link:hover,
.menu__link--active:not(.menu__link--sublist) {
  background: inherit;
}

.menu__link:hover {
  color: var(--ifm-navbar-link-hover-color);
}

.menu__link--sublist::after {
  background: none;
  font-size: 1.25rem;
  content: '+';
  height: inherit;
  width: inherit;
  transform: rotate(45deg);
  filter: none;
}

/*-----------------------------------------------------------------------------
  Table of Contents
-----------------------------------------------------------------------------*/

.col > div[class^='tableOfContents']:not(:empty):before {
  content: 'In this article';
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid;
  display: block;
}

html[data-theme='light']
  .col
  > div[class^='tableOfContents']:not(:empty):before {
  border-color: #e6e6e6;
}
html[data-theme='dark']
  .col
  > div[class^='tableOfContents']:not(:empty):before {
  border-color: #2d2e2f;
}

ul.table-of-contents {
  border-left: 0;
  margin: 0;
  padding-left: 0;
  padding-top: 0;
}

.table-of-contents ul {
  padding-left: var(--ifm-toc-padding-left);
}

.table-of-contents li {
  margin: var(--ifm-toc-padding-vertical) 0;
}

.table-of-contents__link--active {
  font-weight: 600;
}

/*-----------------------------------------------------------------------------
  DocPaginator
-----------------------------------------------------------------------------*/

.pagination-nav {
  display: none;
}

/*-----------------------------------------------------------------------------
  Footer
-----------------------------------------------------------------------------*/

.footer .vercel {
  width: 150px;
  padding-top: 0.5rem;
}

/*-----------------------------------------------------------------------------
  Home Page / Products Listing
-----------------------------------------------------------------------------*/

.hero.hero--primary {
  background-color: var(--ifm-navbar-background-color);
  color: var(--ifm-navbar-link-color);
  background: radial-gradient(75vw 100% at 50% 115%, #ba1e62, #300519 100%);
  padding: 6rem 0;
}

.hero__title {
  font-size: 3.5rem !important;
}

.home.container {
  max-width: calc(var(--ifm-container-width) / 12 * 9);
}

.home.container .DocSearch-Button {
  margin: 0;
  width: 100%;
}

.product_card,
.product_card:hover {
  color: var(--ifm-color-content);
  text-decoration: none;
}

.product_card {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid;
  padding: 1.5rem;
  margin: 0.5rem 0;
}

html[data-theme='light'] .product_card {
  border-color: #d3d3d3;
}
html[data-theme='dark'] .product_card {
  border-color: #3d3d3e;
}

html[data-theme='light'] .product_card:hover,
html[data-theme='dark'] .product_card:hover {
  border-color: var(--ifm-color-primary);
}

.card_content {
  width: 100%;
}

.card_content > * {
  margin: 0;
  font-weight: 400 !important;
}

.card_content p {
  color: var(--ifm-color-content-secondary);
}

.product_card .chevron-rounded-icon {
  margin-left: 1rem;
  width: 1rem;
  height: 1rem;
  fill: var(--ifm-color-primary);
}

/*-----------------------------------------------------------------------------
  Tabs
-----------------------------------------------------------------------------*/

html[data-theme='light'] .tabs,
html[data-theme='light'] .tabs + div {
  background: #f2f2f2;
}

html[data-theme='dark'] .tabs,
html[data-theme='dark'] .tabs + div {
  background: #232324;
}

.tabs {
  border-radius: var(--ifm-global-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tabs + div {
  border-radius: var(--ifm-global-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1rem;
  margin-top: 0em !important;
}

/*-----------------------------------------------------------------------------
  Mobile
-----------------------------------------------------------------------------*/

.button--secondary:not(.button--outline) {
  color: var(--ifm-color-white);
  --ifm-button-background-color: var(--ifm-navbar-link-hover-color);
  --ifm-button-border-color: var(--ifm-navbar-link-hover-color);
  padding: 1rem;
  border-radius: 4rem;
}

/*-----------------------------------------------------------------------------
  Scrollbars

  For whatever reasons, these are not set correctly and use the light theme
  scrollbar color unless these rules are specified. Can check later if it's
  fixed upstream.
-----------------------------------------------------------------------------*/

html[data-theme='dark'] body {
  background: var(--ifm-background-color);
}

html[data-theme='dark'] .prism-code {
  background: var(--ifm-color-gray-800);
}

html[data-theme='dark'] .thin-scrollbar::-webkit-scrollbar-track {
  background-color: unset;
}
